body{
    /* background-image: url("../img/admin-login-bg.jpg"); */
    /* background-size: cover; */
    /* background-position: 50% 50%; */
    /* height: 100%; */
    font-family: Arial, Helvetica, Arial, sans-serif;
}
.overlay{
    opacity: 0.1
}
#container{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    font-family: 'Open Sans';
    background-image: url(../img/admin-login-bg.jpg);
    background-size: cover;
    background-position: 50% 50%;
    height: 100%;
}
#container .panel.signin{
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    border: 0;
    color: #666;
}
.panel-heading{
    background-color: #3399cc;
    color: #FFF;
    text-align: center;
    padding: 25px 20px;
}
.panel-heading h1{
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 20px;
}
.panel-body{
    padding: 15px 20px
}
.or{
    font-size: 11px;
    text-align: center;
    margin: 20px 0;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
}
.or:before {
    content: '';
    position: absolute;
    width: 45%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.5);
    top: 8px;
    left: 0;
}
.or:after {
    content: '';
    position: absolute;
    width: 45%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.5);
    top: 8px;
    right: 0;
}
.checkbox-group{
    position: relative;
    padding-left: 20px;
    font-size: 13px;
}
.checkbox-group input[type="checkbox"]{
    width: 20px;
    height: 20px;
    opacity: 0;
    margin:0;
    margin-left: -20px;
    position: absolute;
    z-index: 1
}
.checkbox-group label{
    margin:0;
    font-weight: 100;
    position: relative;
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
}
.checkbox-group label:before{   
    position: absolute;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "";
    margin-left: -20px;
    background-color: #3399cc;
    border: 1px solid #e4eaec;
    border-radius: 3px;
    -webkit-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
    z-index: 0;
}
.checkbox-group input[type=checkbox]:checked+label::before {
    background-color: #62a8ea;
    border-color: #62a8ea;
}
.checkbox-group label:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: -20px;
    line-height: 20px;
    color: #FFF;
    text-align: center;
    font-family: FontAwesome;
    font-size: 15px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.checkbox-group input[type=checkbox]:checked+label::after {
    content: "\f00c";    
}
a.forgot{
    color: #62a8ea;
    text-decoration: none;
    transition: none;
    font-weight: lighter;
    font-size: 13px;
}
a.forgot:hover{
    text-decoration: underline;
}
.btn{
    border-radius: 2px;
}
.btn-fb{
    margin-bottom: 20px;
}
.panel-footer{
    background-color: transparent;
    border:none;
    text-align: center;
}
.panel-footer h3{
    font-size: 12px;
    margin-bottom: 20px;
}
.panel-footer>div{
    cursor: default;
}
.panel-footer i{
    margin: 0 10px;
    font-size: 16px;
    transition: color 0.3s;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition:  color 0.3s;
}
.panel-footer i:hover{
    color: #62a8ea;
}

form input[type=text],form input[type=password]{
    height: 38px;
    border: 1px solid #ccc;
}
.form-control:focus{
    box-shadow: none;
}
form .input-group-addon{
    border:1px solid #ccc;
    background-color: #FFF;
}
/*============================================================
    Message
============================================================*/
#message{
    width: 300px;
    height: auto;
    position: fixed;
    z-index: 3000;
    top: 12px;
    right: 12px;    
    border-radius: 0;
    box-shadow: 0 1px 2px #ddd;
    background: #fff;
    border-top: solid 5px;
    display: none;
}
#message .close{
    position: absolute;
    top:10px;
    right: 10px;
    float: none;
}
#message .message-container{
    color: #6a6c6f;
    padding: 20px 25px;
}
#message.message-success{
    border-color: #27c24c
}
#message.message-info{
    border-color: #00abe8
}
#message.message-error{
    border-color: #f93926
}
#message.message-warning{
    border-color: #ff9c00;
}
#message .message-title{
    margin-bottom: 10px;
    font-weight: 600;
    text-transform: uppercase;
}
#message.message-success .message-title{
    color: #27c24c;    
}
#message.message-info .message-title{
    color: #00abe8;    
}
#message.message-error .message-title{
    color: #f93926;    
}
#message.message-warning .message-title{
    color: #ff9c00;    
}
#message.message-success .message-body{
    margin-bottom: 5px;
    font-weight: 400;
    line-height: 16px;
}
.login-input{
    position: relative;
}
.login-input .glyphicon{
    position: absolute;
    left: 14px;
    top: 11px;
    color: #ddd;
}
.login-input input{
    width: 100%;
    padding-left: 40px;
    transition: padding-left ease-in-out .3s;
}
.login-input input:focus{
    padding-left: 50px;
}
