body{height: 100%; top: 0 !important}
body, h1, h2, h3, h4, h5, h6, p, em, blockquote, .main_title h2 {font-family:Arial !important;}
@media (min-width: 1200px) { 
    .container { width:1180px; }
}
.mt5 { margin-top:5px; }
.mt10 { margin-top:10px; }
.p5 { padding:5px; }
.p10 { padding:10px; }
.ptb5 { padding:5px 0; }
.ptb10 { padding:10px 0; }
.global-btn { background:#f7931a; font-size:16px; text-transform: uppercase; padding:10px 18px; margin-top:10px; color:white; }
.global-btn:hover { background: #fb9d2c; color:white;}
.global-link { font-size:14px;color:#f7931a; }
.global-link:hover { text-decoration: underline; }
.no-result-lbl { font-size:13px;color:black; }
.flag_icon { border-radius:15px;width:20px;height:20px;display:inline-block;float:right;background-size:20px !important;margin-left:5px; margin-top:-1px;}
.flag_en { background:url(../img/flag_en.png) no-repeat; }
.flag_zh { background:url(../img/flag_zh.png) no-repeat; }
.flag_vi { background:url(../img/flag_vi.png) no-repeat; }
.flag_id { background:url(../img/flag_id.png) no-repeat; }
.slicknav_menu .slicknav_icon-bar { background-color:white;}

@media (max-width: 768px) {
    .jivo-iframe-container-bottom { display:none !important; }
}

.header-container { padding: 0; }
.navbar-collapse { padding: 0; }
.n2-ss-slider-3 p { font-weight:normal !important;font-size:25px !important;line-height:24px !important; }
.n2-ss-layer { left:0px !important;width:100% !important;position:relative !important;top:0px !important; }
.n2-ss-layer:nth-child(1) { margin-bottom:20px; }
.n2-ss-layer:nth-child(2) { margin-bottom:8px; }
.n2-ss-layer h2 { text-align:right !important;width:100% !important;font-size:42px !important;line-height:33px !important; }

a.navbar-brand { margin-top:-5px !important ;}
.navbar-nav >li {/* padding-bottom: 10px */}

.n2-ss-layers-container.container {
    margin:0 auto !important;
    bottom:-61%;
}

.small-slider .n2-ss-layers-container.container {
    bottom:-48% !important;
}

@media (min-width: 768px) {
    .n2-ss-layers-container.container {
        width: 750px !important;
    }
}

@media (min-width: 992px) {
    .n2-ss-layers-container.container {
        width: 970px !important;
    }
}

@media (min-width: 1200px) {
    .n2-ss-layers-container.container {
        width: 1170px !important;
    }
}

.nextend-bullet-bar { position:relative !important; right:0 !important; bottom:34px !important; text-align:right !important;margin-left:auto;margin-right:auto;right:auto; }

a#alogo {padding-bottom:0 !important;padding-top: 10px !important;}
.navbar-default .navbar-nav > li > a:after { content:''; }
.menu-top-menu-container > .navbar-nav > li:first-child { margin-left:20px; }
.navbar-brand img {height: 65px;/* min-width:50px; */}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li:hover > a, .navbar-default .navbar-nav > li > a.active { font-family:arial !important;font-weight:normal;font-size:14px;text-transform: uppercase; }
.navbar-default .navbar-nav .dropdown {z-index:999;width:auto !important;visibility:hidden;min-width: 150px;right: 0;left: auto;}
.dropdown li a, .sup-dropdown li a { font-size:14px;background:#1f1f1f !important;text-transform: uppercase; color:white; padding:9px 19px;white-space:nowrap;font-family:Arial; }
.dropdown > li:hover > a, .sup-dropdown li:hover > a {color:white;text-decoration: none;padding-left:19px;}
.dropdown li, .sup-dropdown li { border-top:1px solid #4c4c4c; }
.topright-nav li { margin-left:0 !important; }
.topright-nav li:nth-child(1) { background:#3a3a3a; }
.topright-nav li:nth-child(2) { background:#575656; }
.navbar-top {background: #5b554a !important;color:white;}
.navbar-default .navbar-nav { margin-right: 0 !important; }
.navbar-default .navbar-nav > li > a {padding: 33px 15px 25px 15px !important;}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li:hover > a, .navbar-default .navbar-nav > li > a.active { color:white !important; }
.navbar-default .navbar-nav > li > a.active, .navbar-default .navbar-nav > li:hover > a { border-bottom:0; }
.top-menu-language { position:relative;height:100%; }
.top-menu-language .top-menu-selected-language { display:block;font-size:14px;text-transform:uppercase;height:100%;padding:32px 20px 18px 20px !important;cursor:pointer;}
.top-menu-language .top-menu-language-options { position:absolute;list-style: none; top:100%;width:145px;display:none;margin-left:-38px; }
.top-menu-language .top-menu-language-options li { width:100%;text-align:right; }
.top-menu-language .top-menu-language-options li a { padding:9px 19px;display:table;min-width:145px;text-align:right; }
.top-menu-language .top-menu-language-options li a:hover{background: #333 !important;}
.top-menu-language:hover .top-menu-language-options { display:block !important;z-index:999; }
.nav-search-btn {padding: 25px 21px 26px 21px;background:#777676;height:100%;display:block;}
.nav-search-btn img { height:20px;}
.dropdown li a.active, .sup-dropdown li a.active { color:white !important; }
.mobile-menu { display:none; }
/*.nextend-bullet-bar-horizontal { left:95% !important; }*/

.footer { padding:40px 0 20px 0;color:black; }
.footer-line-1 { border-top:1px solid #ccc;padding:10px 0;text-transform: uppercase; }
.footer-line-1 img { max-height:25px; margin-left:15px;}
.footer-line-2 { border-top:1px solid #ccc;border-bottom:1px solid #ccc;padding:10px 0; }

.horizontal-stats { background:#fb9d2c; padding:20px 10px 10px 10px; }
.horizontal-stats .stat-lbl { display:table;color:black;text-transform: uppercase; }
.horizontal-stats .stat-item { border-left: 1px solid black; padding-left: 13px; }
.horizontal-stats .stat-item:nth-child(1) { border-left: none }
.horizontal-stats .stat-item .stat-item-lbl-1 { font-size:18px; }
.horizontal-stats .stat-item .stat-item-lbl-2 { font-size:60px; padding:8px 0 10px 0; color:black;font-family:'bebas';display:table;line-height:44px;}
.horizontal-stats .stat-item .stat-item-lbl-3 { padding:5px 0; border-top:1px solid grey;font-size:14px; }
.horizontal-stats .stat-item .stat-item-lbl-4 { padding-top:5px; border-top:1px solid grey;font-size:14px; }

.home-intro-post-wrapper { padding:40px 0; }
.home-intro-post-wrapper p { color:black; }
.home-intro-post-wrapper h2 { font-size:28px;line-height:33px;padding-bottom:10px;font-weight:normal; }
.home-intro-post-wrapper .home-intro-post { padding-left:0; }
.home-intro-post-wrapper .home-intro-post p {padding-bottom:7px;font-size:14px;line-height: 26px;}
.home-intro-post-wrapper .home-intro-video { padding-right:0; }
.home-intro-post-wrapper .home-intro-video iframe { width:100%; height:266px; }

.home-three-column { padding:0; }
.home-three-column .col-sm-12 { padding:0; }
.home-three-column .col-md-7 .col-sm-12:nth-child(2) { padding:0 10px; }
.home-three-column .home-list-header { font-size:16px; text-transform: uppercase;color:black;background:#ccc;padding:12px 14px;}
.home-three-column .home-list-header .pull-right img { margin-right:6px;max-height:18px;margin-top:-3px; }
.home-three-column .home-list-header .pull-right { font-size:16px; }
.home-three-column ul li { padding:10px 0;border-bottom:1px solid #b2b2b2;color:black;height:42px;font-size:14px;}
.home-three-column .currency-list { color:black; }
.home-three-column .member-list { color:black; }
.home-three-column .news-list li span.post-date { width:11%;font-style:italic;color:#010101; }
.home-three-column .news-list li a { padding-left:5px;color:#f7931a; }

.home-brands { padding:10px 0; background:#cbc6ba;margin:40px auto; }
.home-brands .col-md-3 { display:table; }
.home-brands .col-md-3 span { display:table-cell;vertical-align: middle;text-transform: uppercase;color:black; }
.home-brands .col-md-3 span:nth-child(1) { font-size:68px;line-height:68px;width:107px;vertical-align: middle;font-family:bebas; }
.home-brands .col-md-3 span:nth-child(2) { font-size:16px;padding:12px 0 0 0;line-height: 19px;font-family:arial; }
.home-brands .col-md-3 img { padding: 14px 0; }
.home-brands .col-md-3:nth-child(1), .home-brands .col-md-3:nth-child(2) { border-right:1px solid #7a7770; }

.home-small-banner { padding:0 0 40px 0; }
.home-small-banner .home-small-banner-item { min-height:125px;width:49.2%;position:relative;padding:0;background:#EAEAEA; }
.home-small-banner .home-small-banner-item .banner-layer { position:absolute;left:10px;bottom:9px;}
.home-small-banner .home-small-banner-item .banner-layer span { font-size:20px; font-weight:normal;color:black; }
.home-small-banner .home-small-banner-item .banner-layer a { color:#f7931a;display:table;margin-top:6px;font-size:14px; }
.home-small-banner .home-small-banner-item:nth-child(odd) {  }
.home-small-banner .home-small-banner-item:nth-child(even) { margin-left:1.6%; }
.home-small-banner .home-small-banner-item:nth-child(1) { background:url(../images/banner_landing_sub_01_blackWordings.jpg) no-repeat; }
.home-small-banner .home-small-banner-item:nth-child(2) { background:url(../images/banner_landing_sub_02_blackWordings.jpg) no-repeat; }

.home-statistics-wrapper {padding:0;height: 1px;margin-bottom: -1px;position:relative;}
.home-statistics {background:rgba(91,85,74,0.8);padding:20px 15px;width:300px;position:absolute;z-index:8;bottom: 1px;}
.home-statistics h3 {font-weight: 600;font-size: 19px;font-family: Arial;color:white;border-bottom:1px solid white;}
.home-statistics table { width:100%}
.home-statistics td { padding:5px 0;font-weight:normal;font-size:12px;font-family: Arial;color:white;border-bottom:1px solid #636363;}
.home-statistics td:nth-child(1) { text-align:left;text-transform: uppercase;}
.home-statistics td:nth-child(2) { text-align:right;}

@media (max-width: 768px) {
    a#alogo { text-align:left; }
    .home-intro-post-wrapper { padding:40px 10px; }
    .home-intro-post-wrapper .home-intro-video { padding:20px 0; }
    .home-three-column .col-md-7 .col-sm-12 { padding:0 10px 10px 10px; }
    .home-three-column .col-md-5 { padding:0 10px 10px 10px; }
    .home-brands .col-md-3 { display:table;float:none;height:50px; }
    .home-small-banner { padding:20px 0; }
    .home-small-banner .home-small-banner-item { width:91.6667%;margin:0 auto;padding:10px 0;margin-bottom:10px;float:none; }

    .mobile-menu { display:block; }
    .abcd {float:right;margin: 9px 9px;}
    .topright-nav li { float:left; }
}

@media (min-width: 768px) and (max-width: 992px) {
    .home-intro-post-wrapper .home-intro-video { padding:20px 0; }
    .home-three-column .col-md-7 .col-sm-12 { padding:0 10px 10px 10px;margin-bottom:10px; }
    .home-three-column .col-md-5 { padding:0 10px 10px 10px; }
    .home-small-banner { padding:20px 0; }
    .home-small-banner .home-small-banner-item { width:100%;margin:0;padding:10px 0;margin-bottom:10px; }
    .home-small-banner .home-small-banner-item:nth-child(even) { margin-left:0; }
    .home-brands .col-md-3 { display:table;float:none;height:50px; }
    .horizontal-stats .stat-item:nth-child(odd) { border-left: 0px; }
}
.gallery-container { padding:50px 0;display:table; }
.gallery-container .col-md-3 { padding:0 20px 0 0; }
.gallery-container .col-md-9 { padding:0;padding-right:5px; }
.gallery-container ul { list-style: none; }
.gallery-container li { display:table;width:100%;padding:13px 15px;border-top:1px solid #ccc;border-bottom:0; }
.gallery-container li:last-child { border-bottom:1px solid #ccc; }
.gallery-container li a { color:#f7931a; }
.gallery-container li.active { background:#ccc6ba; }
.gallery-container li.active a { color:black; }
.fbx-rounded.fbx-desktop .fbx-next, .fbx-rounded.fbx-desktop .fbx-prev { position:fixed; }
.fbx-rounded.fbx-desktop .fbx-next { right:0; }
.fbx-rounded.fbx-desktop .fbx-prev { left:0; }
.fbx-rounded .fbx-inner { border-radius:0; }
.fbx-light .fbx-inner { background:none !important;background-color:transparent !important;border:0; }
.fbx-rounded.fbx-light .fbx-close { display:none; }
.fbx-rounded .fbx-next, .fbx-rounded .fbx-prev { background:black;margin-top:-15px;width:25px;height:29px;line-height:29px; }
.fbx-rounded .fbx-item-current, .fbx-rounded .fbx-item-image, .fbx-rounded .fbx-item-next { border-radius: 0; }
.fbx-light, .fbx-light.fbx-phone .fbx-social { background-color:rgba(204,204,204,0.9); }
.fbx-light .fbx-caption { background-color:transparent; }
.fbx-close-overlays { display:none; }
.fbx-caption-title { text-align:left; }

.video-gallery-container { padding:50px 0;display:table;}
.video-gallery-container .col-md-3, .video-gallery-container .col-md-9 { padding:0; }
.video-.video-gallery-container ul { list-style: none; }
.video-gallery-container li { display:table;width:100%;padding:13px 15px;border-top:1px solid #ccc;border-bottom:0; }
.video-gallery-container li:last-child { border-bottom:1px solid #ccc; }
.video-gallery-container li a { color:#f7931a; }
.video-gallery-container li.active { background:#ccc; }
.video-gallery-container li.active a { color:black; }
.video-gallery-container .video-link { cursor:pointer;padding:0 0 20px 20px; }
#videoModal iframe { display:table;width:100%; height:336px; }


#content { padding:50px 0;}
.blog-post-page .blog-post { border-bottom:0 !important; }
.post-content p { font-size:14px; }
.post-content h2 { font-size:28px; font-weight: normal;padding-bottom:20px; }
.blog-post .post-content { padding-left:0;}
.post-content .post-date { font-size:12px;display:table;padding:0 0 10px; }

.article-list { display:table; padding:30px 0;}
.article-list article { display:table-cell;min-height:197px;padding:0px 8px 30px 8px;border-bottom:1px solid #ddd; }
.article-list article img { max-height:171px; object-fit:cover; width:100%;}
.article-list article .post-date { font-size:12px;display:table;padding:20px 0 10px; }
.article-list article h2 { font-size:17px;height:49px;line-height:20px; }
.article-list article h2 span { background:#cbc6ba; padding:1px 5px;font-size:16px;font-weight:normal;line-height:22px; }
.announcement-list.article-list article h2 span { background:#cbc6ba; padding:2px 10px; }
.article-list article .excerpt, .article-list article .excerpt p { line-height: 16px; padding: 5px 0; font-size:14px;min-height:58px; }
.article-list article .main-button { display:none; }

.article-list.academy-list { border-bottom: 0; }
.academy-list article { border-bottom:0;}

.side-article-list.article-list { padding:0; }
.side-article-list.article-list article { padding:30px 0 0 0;border-bottom:0;min-height:auto; }
.side-article-list.article-list article h2 { height:auto;line-height:21px; }
.side-article-list.article-list article .post-date { padding:20px 0 5px; }

.side-article-list.article-list.introduction-list article { margin-bottom:20px; }
.side-article-list.article-list.introduction-list .post-date { display:none; }
.side-article-list.article-list.introduction-list article h2 { padding-top:15px; }
.side-article-list.article-list.introduction-list article h2 span { background:none;padding-left:0; }

.pagination { display:table;width:100%; text-align:right; }
.page-numbers {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 2px 0 0;
    border: 1px solid #eee;
    line-height: 1;
    text-decoration: none;
    border-radius: 2px;
    font-weight: 600;
}
.page-numbers.current,
a.page-numbers:hover {
    background: #f9f9f9;
}

.faq {  }
.faq li.a { background:#cbc6ba; padding: 30px 20px 30px 20px !important; }
.faq li.a p { font-size:14px; color:black; }
.faq li.q { font-size:16px; color:black; }
.faq li.q img { float:right; max-width:16px; }
.faq li.q img.rotate { -moz-transform:rotate(180deg) !important; -webkit-transform:rotate(180deg) !important;transform:rotate(180deg) !important; }
.faq li.q { border-bottom:1px #ddd solid; padding:15px 20px 14px 0px !important; font-size: 16px !important; font-weight:normal !important; }
.faq li.q:nth-child(1) { border-top:1px #ddd solid; }
.faq .faq-content { font-size:14px; font-family: Arial;padding:0 !important;color:black; }

@media (max-width: 768px) { 
    .faq .faq-content { padding: 0 15px 20px 15px !important; }
    .faq .faq-list { padding: 0 10px !important; }
}

.wallet {  }
.wallet .wallet-content { font-size:14px; font-family: Arial;padding:0 20px 0 0 !important; }
.wallet .wallet-list { padding:0;  }
.wallet .wallet-item { width:100%; border-top:1px solid #ddd;display:table;padding-bottom:40px; }
.wallet .wallet-item h3 { border-bottom:1px solid #ddd;padding:10px 10px; display:table;font-weight:normal;font-size:15px;margin-bottom:10px; }
.wallet .wallet-item .item-name { color:black;display:table;text-align:center;width:100%;padding:5px 0 0 0; }
.wallet .wallet-item li { float:left; width:12.5%;padding:10px 10px;box-sizing: border-box;text-align: center; }
@media (max-width: 768px) { 
    .wallet .wallet-content { padding: 0 15px 20px 15px !important; }
    .wallet .wallet-list { padding: 0 10px !important; }
    .wallet .wallet-item li { float:left; width:16.6666%;padding:10px 10px;box-sizing: border-box; }
}

.sidebar-header {padding:10px 0;font-size: 14px;border-bottom: 3px solid #f7931a;text-transform: uppercase;font-weight: 600;}
.side-article-list { list-style: none; }
.side-article-list li {padding-bottom: 5px;margin-bottom: 5px;border-bottom: 1px dotted #ddd;color: #1d1d1d;}
.side-article-list p, .side-article-list a { font-size:14px; }

.menu-top-menu-container { visibility:hidden;}
.menu-top-menu-container.done-loading { visibility:visible;}
.menu-top-menu-chinese-container { visibility:hidden;}
.menu-top-menu-chinese-container.done-loading { visibility:visible;}

.ticker-news { border:0 !important;background:#464646 !important;}

ul.faq{list-style:none;}
.faq li { padding: 20px; }
.faq li.q {
    background: #4FC2E;
    font-weight: bold;
    font-size: 120%;
    border-bottom: 1px #ddd solid;
    cursor: pointer;

    display: block;
    cursor: pointer;
    position: relative;
    margin: 2px 0 0 0;
    padding: .5em .5em .5em .7em;
    min-height: 0;
    /* support: IE7; */
    font-size: 100%;
}

.faq li.a {	 
    display: none;

}

.rotate {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
body.wp-customizer-unloading {
    opacity: 1;
    cursor: progress !important;
    -webkit-transition: none;
    transition: none;
}
body.wp-customizer-unloading * {
    pointer-events: none !important;
}
.kirki-customizer-loading-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.83);
    z-index: 999999;
    display: none;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    background-image: url("../img/kirki-logo.svg");
    background-repeat: no-repeat;
    background-position: center center;
}
body.wp-customizer-unloading .kirki-customizer-loading-wrapper {
    display: block;
    opacity: 1;
}
.kirki-customizer-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -35px 0 0 -35px;
    color: transparent;
    font-size: 10px;
    border-top: 0.5em solid rgba(0, 0, 0, 0.2);
    border-right: 0.5em solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.5em solid #333;
    border-left: 0.5em solid rgba(0, 0, 0, 0.2);
    -webkit-animation: fusion-rotate 0.8s infinite linear;
    animation: fusion-rotate 0.8s infinite linear;
}
.kirki-customizer-loading .kirki-customizer-loading-text {
    position: absolute;
}
.no-cssanimations .kirki-customizer-loading {
    padding-left: 5px;
    padding-top: 15px;
    color: #000;
}
.kirki-customizer-loading,
.kirki-customizer-loading:after {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    /* Fix to make border-radius work for transparent colors */
    background-clip: padding-box;
}
@-webkit-keyframes fusion-rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes fusion-rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*blog*/
.ticker-news {background: #F4F4F2;height: 34px;overflow: hidden;position: relative;border: 1px solid #AAAAAA;border-radius: 10px}
.ticker-news span {background: #333333;height: 34px;float: left;padding: 2px 10px;color: #FAFAFA;font-size: 16px;font-weight: bold}
.ticker-news ul{float:left}
.ticker-news ul a{padding:5px;display:inline-block;white-space:nowrap;color:#696969;font-size:14px}
.ticker-news ul a:hover{color:#0199BC}
/* liScroll styles */
.tickercontainer {height: 34px;margin: 0;padding: 0;overflow: hidden}
.tickercontainer .mask {position: relative;width: 99%;left: 5px;top: 5px;overflow: hidden}
ul.newsticker {position: relative;list-style-type: none;margin: 0;padding: 0}
ul.newsticker li {float: left;margin: 0;padding: 0}
ul.newsticker a {white-space: nowrap;padding: 0;color: #696969;margin: 0 50px 0 0;font-size:12px}
.blog-post a { color:#f7931a; }
.blog-post a:hover { color:#f7931a;text-decoration:underline; }
a:hover { text-decoration:underline; }
.ticker-news { border:0 !important;background:#464646 !important;border-radius:0 !important; }
.ticker-news span { background:transparent !important;padding:6px 0px 0 0 !important;text-transform:uppercase;font-weight:normal;font-size:14px; }
.ticker-news ul a { color:white;padding:6px 10px !important; }
.ticker-news ul a:hover { color:white;text-decoration:underline; }
.n2-ss-layer h2 { width:97%; }
.home-small-banner .col-md-6:nth-child(odd) { padding:0 10px 20px 0; }
.home-small-banner .col-md-6:nth-child(even) { padding:0 0 20px 10px; }
.home-small-banner .home-small-banner-item { width:100%;background-size:cover !important; }
.article-list article img { max-height:171px; object-fit:cover; width:100%;}

.video-gallery-container .col-md-3, .video-gallery-container .col-md-9 { padding:0; }
.video-.video-gallery-container ul { list-style: none; }
.video-gallery-container li { display:table;width:100%;padding:14px 15px;border-top:1px solid #ccc;border-bottom:0; }
.video-gallery-container li:last-child { border-bottom:1px solid #ccc; }
.video-gallery-container li a { color:#f7931a; }
.video-gallery-container li.active { background:#ccc; }
.video-gallery-container li.active a { color:black; }
.video-gallery-container .video-link { padding:0 0 20px 20px; }
#videoModal iframe { display:table;width:100%; height:336px; }
.home-small-banner .home-small-banner-item .banner-layer span { width:215px;display:table; }
.sidebar-header {margin-bottom: 15px;}
.side-article-list.article-list article { padding:0 0 30px 0; }
.side-article-list.article-list.introduction-list article { margin-bottom:0; }

a.page-numbers, span.page-numbers { height:15px;width:15px;font-size:0;background:#f7931a;border-radius:15px; }
a.page-numbers.next, a.page-numbers.prev { display:none; }
.page-numbers a:hover, .page-numbers.current, .page-numbers.current:hover { background:#1f1f1f; }
.page-numbers.current, a.page-numbers:hover { background:#1f1f1f !important; }
.navbar-default .navbar-nav > li { margin-left:0; }
.top-menu-language .top-menu-language-options { right:0; }
.top-menu-language .top-menu-language-options {padding: 0;left: auto !important;margin: 0 !important;min-width: 150px;}
.top-menu-language .top-menu-language-options li a {color: #fff !important;width: 100%;padding: 7px 10px !important;min-width: 0;margin: 0 !important;}

.article-list article h2 { height: auto !important; }
.article-list article .excerpt, .article-list article .excerpt p { min-height:0 !important;padding: 10px 0 10px !important; }
.article-list .global-link { display:table; }
.article-list article { height:422px; }
.side-article-list article { height: auto !important; }

.members-list .flag { display:block;float:left;margin-right:5px;margin-top:5px; }
.search-page-form input { font-size:14px; }
.search-page-result .excerpt { font-size:14px; }
.wallet-content .entry-content-page, .faq-content .entry-content-page, .wallet-content .entry-content-page p, .faq-content .entry-content-page p { font-size:14px; }
.gallery-container li a { font-size:14px; }
.video-gallery-container li a { font-size:14px; }

.side-article-list.article-list article .post-date { padding: 0 0 5px; }
.announcement-list.article-list article { height:auto !important;min-height:0 !important;border-bottom:0 !important;padding:0px 8px 0 8px;  }
.announcement-list hr { margin: 30px 0 !important;padding:0;border-top:1px solid #ddd; }
.announcement-list.article-list article .post-date { padding: 0 0 10px; }

@media (max-width: 768px) {
    .announcement-list hr { display:none; }
    .announcement-list.article-list article { border-bottom:1px solid #ddd !important;padding:30px 8px 30px 8px; }
    .announcement-list.article-list article:first-child { padding:0 8px 30px 8px; }
    .slicknav_nav { overflow:hidden !important; }
    a#alogo { ; }
    .navbar-default .navbar-nav > li { width:auto; }

    .horizontal-stats {padding: 0;background:none;}
    .horizontal-stats .stat-item { padding:15px 0px 0 0;border:0;border-bottom:1px solid #b3b3b3; }
    .horizontal-stats .stat-item-wrapper { padding-bottom:15px;margin-bottom:15px; border-left:1px solid #b3b3b3;display:table;width:100%;padding-left:13px; }
    .horizontal-stats .row { margin-left:0; margin-right:0;background:#cbc6ba; }
    .horizontal-stats .stat-item:last-child .stat-item-wrapper { padding-bottom:0;margin-left:1px;border-right:0;;border-bottom:0; }
    .horizontal-stats .stat-item:nth-child(odd) .stat-item-wrapper { border-left:0; }

    .gallery-container .col-xs-12, .video-gallery-container .col-xs-12 {
        padding: 0 0 30px 0 !important;
    }

    .col-xs-6 {
        width:50% !important;
    }
    .home-statistics-wrapper {padding:0 15px;height: auto;margin-bottom: 0;padding: 0;z-index: 7}
    .home-statistics {top:auto !important;width:100%;margin:30px auto;position:relative;bottom: 0;margin-top: 0;margin-bottom: 0;}
    .n2-ss-layers-container.container { padding-left:0; }
    .n2-ss-layer { width:96% !Important }
    .slicknav_nav ul { background:transparent; }
    .slicknav_btn { border:0;background:#4a4a4a; }
    .navbar-default .navbar-nav { padding:0; }
    .navbar-default .navbar-nav > li { margin-bottom:0; }
    .top-menu-language .top-menu-language-options { position:absolute !important;background:#1f1f1f !important;top:100% !important;padding-left:0 !important;margin-left:-30px; }
    .slicknav_nav {max-height:none;right:0;z-index:9;position:fixed;margin-top: 67px;background:#1f1f1f !important;overflow-y:scroll;width:100%;height:100%;top: 0;}
    .slicknav_nav a { color:white; text-transform: uppercase; }
    .slicknav_nav .slicknav_arrow {/* background: #494949; */color: #fff;float: right;}
    .nav-search-btn { padding:30px 21px 18px 21px !important; }


    .home-intro-post-wrapper { padding:40px 15px; }
    .home-small-banner .col-md-6:nth-child(odd) { padding:0 15px 10px 15px; }
    .home-small-banner .col-md-6:nth-child(even) { padding:10px 15px 0 15px; }
    .home-small-banner { padding:0 0 40px;}
    .home-brands .col-md-3 { float:left !important; }
    .home-brands { margin:20px 15px 27px;padding:16px 0 10px 0; }
    .home-brands .col-md-3:nth-child(1) { float:none !important; }

    .home-intro-post-wrapper .home-intro-video { padding:50px 0 10px 0; }
    .home-three-column .col-md-7 .col-sm-12, .home-three-column .col-md-7 .col-sm-12:nth-child(2), .home-three-column .col-md-5  { padding:0 15px 40px 15px; }
    .footer { padding:40px 15px 20px 15px; }
    .top-menu-language .top-menu-selected-language { padding:25px 20px 18px 20px !important; }

    .horizontal-stats .stat-item .stat-item-lbl-1 { font-size: 15px; }
    .horizontal-stats .stat-item .stat-item-lbl-2 { font-size:50px; }
    .horizontal-stats .stat-item .stat-item-lbl-3 { font-size:12px; }
    .horizontal-stats .stat-item .stat-item-lbl-4 { font-size:12px; }

    div.n2-ss-slider { height:450px !important; }
    div.n2-ss-slider .n2-ss-slider-1, div.n2-ss-slider div[class^="n2-ss-slider"] { height:450px !important; }
    div.n2-ss-slider .n2-ss-slide { height:300px !important; overflow:visible !important; }
    div#n2-ss-2 .n2-ss-slide, div#n2-ss-2 .n2-ss-canvas { overflow:visible !important; }
    div#n2-ss-3 .n2-ss-slide, div#n2-ss-3 .n2-ss-canvas { overflow:visible !important; }
    div#n2-ss-4 .n2-ss-slide, div#n2-ss-4 .n2-ss-canvas { overflow:visible !important; }
    div#n2-ss-5 .n2-ss-slide, div#n2-ss-5 .n2-ss-canvas { overflow:visible !important; }
    div#n2-ss-6 .n2-ss-slide, div#n2-ss-6 .n2-ss-canvas { overflow:visible !important; }
    div#n2-ss-7 .n2-ss-slide, div#n2-ss-7 .n2-ss-canvas { overflow:visible !important; }
    div#n2-ss-8 .n2-ss-slide, div#n2-ss-8 .n2-ss-canvas { overflow:visible !important; }
    div#n2-ss-9 .n2-ss-slide, div#n2-ss-9 .n2-ss-canvas { overflow:visible !important; }
    div#n2-ss-10 .n2-ss-slide, div#n2-ss-10 .n2-ss-canvas { overflow:visible !important; }
    div#n2-ss-11 .n2-ss-slide, div#n2-ss-11 .n2-ss-canvas { overflow:visible !important; }
    div#n2-ss-12 .n2-ss-slide, div#n2-ss-12 .n2-ss-canvas { overflow:visible !important; }
    div#n2-ss-13 .n2-ss-slide, div#n2-ss-13 .n2-ss-canvas { overflow:visible !important; }
    div#n2-ss-14 .n2-ss-slide, div#n2-ss-10 .n2-ss-canvas { overflow:visible !important; }
    div#n2-ss-15 .n2-ss-slide, div#n2-ss-11 .n2-ss-canvas { overflow:visible !important; }
    div#n2-ss-16 .n2-ss-slide, div#n2-ss-12 .n2-ss-canvas { overflow:visible !important; }
    div#n2-ss-17 .n2-ss-slide, div#n2-ss-13 .n2-ss-canvas { overflow:visible !important; }     
    div#n2-ss-18 .n2-ss-slide, div#n2-ss-12 .n2-ss-canvas { overflow:visible !important; }
    div#n2-ss-19 .n2-ss-slide, div#n2-ss-13 .n2-ss-canvas { overflow:visible !important; }
    div#n2-ss-20 .n2-ss-slide, div#n2-ss-10 .n2-ss-canvas { overflow:visible !important; }
    div#n2-ss-21 .n2-ss-slide, div#n2-ss-11 .n2-ss-canvas { overflow:visible !important; }
    div#n2-ss-22 .n2-ss-slide, div#n2-ss-12 .n2-ss-canvas { overflow:visible !important; }
    div#n2-ss-23 .n2-ss-slide, div#n2-ss-13 .n2-ss-canvas { overflow:visible !important; }           
    div#n2-ss-24 .n2-ss-slide, div#n2-ss-11 .n2-ss-canvas { overflow:visible !important; }

    .global-btn { font-size:13px; }
    .ticker-news span, .ticker-news ul a { font-size:11px; }
    .navbar-brand { width:28% !important; }
    .navbar-header { margin:0 !important; }
    div.n2-ss-slider .n2-ss-slide, div.n2-ss-slider .n2-ss-canvas.forceOverflow { overflow:visible !important; }
    .n2-ss-layers-container.container { top:100% !important; bottom:0;}
    .n2-ss-layers-container { margin-top:300px !important; color:black; }
    .n2-ss-layers-container h2 { font-size:19px !important;color:black !important;text-align:center !important; }
    .n2-ss-layers-container p { font-size:15px !important;color:black !important;width:100% !important;text-align: center !important;}
    .n2-ss-layer:nth-child(1) { top: 20px !important; left: 5px !important;width:100% !important;margin-bottom:0px !important; }
    .n2-ss-layer:nth-child(2) { top: 23px !important; left: 5px !important;width:100% !important; }
    .n2-ss-layer:nth-child(3) { top: 15px !important; left: 5px !important;width:100% !important; }
    .nextend-bullet-bar-horizontal { bottom:15px !important; }
    .nextend-bullet-bar-horizontal .n2-active { background:black !important;}
    .nextend-bullet-bar { text-align:center !important; }

    .gallery-container, .video-gallery-container { width:100%;padding:30px 15px; }
    .video-gallery-container .video-link { cursor:pointer; padding:0 0 20px 0; }
    .video-gallery-container .video-link img { width:100%; }
}

@media (max-width:570px) {
    .home-brands .col-md-3 { border-right:0 !important;display:table;float:none;width:100% !important; }
    .home-brands .col-md-3 span:nth-child(1) { width:125px; } 
    .wallet .wallet-item li {width: 24.666%;}
}

/*blog*/

@media (min-width: 992px) { .wl-gallery{ width:24.9%;} }

#maxim{color:#fff;padding:90px 0 100px;background-color:#464646;/* border-bottom: 1px solid #fff; */}
#maxim .maxim-list{margin-top:50px;text-align:center}
.maxim-img{margin-bottom:10px;height:130px;border:2px solid #fff;width:130px;line-height:130px;border-radius:50%;overflow:hidden;display:inline-block}
.maxim-title h3{color: #fff;font-size:16px;text-transform:uppercase}
@media screen and (max-width:1024px){
    #maxim .maxim{margin-bottom:10px;}
}
.title{text-align:center;}
.title>h2{font-size:20px;color:#fff;margin-bottom:20px;text-transform:uppercase}
.title>p{font-size:16px;color:#fff;}
@media (min-width: 768px){
    .title>p{max-width:80%;display:inline-block}
}

.content-signup {
    width: 100%;
    /* padding-bottom: 60px; */
}
.content-signup a {
    width: 25%;
    float: left;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 48px;
    border: 1px solid #fff;
    border-left: 0;
    padding-left: 76px;
    color: #ffffff;
    line-height: 123px;
    background: url(../img/icon-signup.png) #5b554a no-repeat 15px center;
}
.content-signup a:hover {
    background: url(../img/icon-signup.png) #1b4c9e no-repeat 15px center;
}
.content-signup .content-signup-right {
    width: 75%;
    float: right;
    background: #fb9d2c;
    border-right: 0;
    border: 1px solid #fff;
    border-left: 0;
    color: #000;
}
@media(max-width:991px){
    .content-signup .content-signup-right {
        display: block;
        width: 100%;
    }
}
.ctn-signup-part {
    width: 33.333%;
    float: left;
    height: 123px;
    font-weight: 300;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    padding-top: 27px;
    line-height: 40px;
}
@media(max-width:700px){
    .ctn-signup-part {
        width: 100%;
        border-bottom: 1px solid #fff;
    }
}
.ctn-signup-part1 {
    padding-left: 130px;
    background: url(../img/icon-ctn5.png) transparent no-repeat 55px center;
}
.ctn-signup-part2 {
    padding-left: 100px;
    background: url(../img/icon-ctn6.png) transparent no-repeat 25px center;
}
.ctn-signup-part3 {
    background: url(../img/icon-ctn7.png) transparent no-repeat 10px center;
    padding-left: 100px;
}
@media(max-width:991px){
    .content-signup a{width: 100%;display: block;text-align: center};
}
#footer{background-color:#3e3d3d;padding:60px 0;}
#footer h3{margin-bottom:20px;color:orange;}
#footer ul{list-style:none;padding-left:0}
#footer ul{color:#999;}#footer ul li{margin:10px 0;}
#footer a{color: #fff;}
#footer ul li a:hover{color:#fff}
#coppyright{padding:5px 0;background:#1d1d1d;color:#eee}
.btn-transition{
    padding: 0;
    position: relative;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    border: none
}
.btn-transition>span:first-child{
    position: relative;
}
.btn-transition>span:last-child{
    position: absolute;
    top: 0;
    right: -100%;
}
.btn-transition>span{
    opacity: 0.9;
    padding: 10px 20px;
    font-size: 17px;
    line-height: 1.3333333;
    display: inline-block;
    -webkit-transition: -webkit-transform .3s cubic-bezier(.43,0,.02,.995);
    transition: transform .3s cubic-bezier(.43,0,.02,.995);
}
.btn-transition:hover > span {
    transform: translateX(-100%);
}
.btn-transition.btn-orange>span:first-child{
    background-color: orange;
}
.btn-transition.btn-orange>span:last-child{
    background-color: #FF5722;
}
.modal a{color: #000}

#home .banner{position: relative;}
#home .banner .page-article-title{position: absolute;top: 50%;-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-o-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);width: 100%;left: 0;color: #fff;text-align: center}
#home .banner h1{font-size: 80px;
                 font-weight: 500;
                 color: #ffffff;
                 line-height: 75px;margin-bottom: 30px;}
#home .banner .page-article-content{
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
    line-height: 24px;    
    width: 480px;
    margin: 0 auto 20px;
    max-width: 100%;
}
@media(max-width:768px){
    #home .banner .page-article-title{display: none}
}
#news{padding: 30px 0;background-color: #f5f4f4}
#news h1 {
    font-size: 22px;
    font-weight: 600;
    margin: 0 0 11px;
}
.tours-list .tour {
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
    color: #4d4d4d;
    position: relative;
    height: 192px;
    overflow: hidden;
    margin-bottom: 23px;
    background-color: #fff;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.tours-list .tour .img {
    float: left;
    display: inline-block;
    height: 100%;
    width: 280px;
    position: relative;
    overflow: hidden;
}
.tours-list .tour .img img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transform-style: preserve-3d;
    transition: transform ease-in-out .3s;
}
.tours-list .tour .info {
    margin-left: 280px;
    padding: 20px 0 0 15px;
}
.tours-list .tour h3 {
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 10px;
    padding-right: 15px;
    line-height: 20px;
}
.tours-list .tour h3 a{color: #1d1d1d;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.tours-list .tour .time {
    margin-bottom: 10px;
    padding-right: 15px;
}
.tours-list .tour .desc-action {
    display: table;
    width: 100%;
    border-top: 1px solid #eee;
}
.tours-list .tour .desc-action .action, .tours-list .tour .desc-action .short-desc {
    display: table-cell;
}
.tours-list .tour .desc-action .short-desc {
    padding: 20px 10px 10px 0;
    font-size: 14px;
    line-height: 20px;
    border-right: 1px solid #eee;
    max-height: 90px;
    overflow: hidden;
}
.tours-list .tour .desc-action .action {
    text-align: center;
    color: #656565;
    font-size: 14px;
    margin-bottom: 18px;
    padding: 20px 15px 15px;
    width: 1%;
    vertical-align: middle;
}
@media (max-width: 992px){
    .tours-list .tour{height: auto}
    .tours-list .tour .img {
        display: block;
        float: none;
        margin-bottom: 15px;
        height: 60vw;
        width: 100%;
    }
    .tours-list .tour .info {
        width: 100%;
        margin: 0;
        padding: 0 10px;
    }
}
.pagination-wrapper {
    padding: 5px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
    line-height: 0;
    text-align: center;
    background-color: #fff
}
.pagination {
    margin: 0;
    display: inline-block !important;
    width: auto;
}
.pagination>li {
    float: left;
    display: inline-block;
    padding: 5px 3px;
}
.pagination>li>a {
    display: block;
    float: none;
    background-color: #eee;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;
    color: #b6bbc6;
    font-size: 13px;
    padding: 6px 12px;
}
.pagination>li.active>a, .pagination>li.active>a:active, .pagination>li.active>a:hover, .pagination>li>a.active, .pagination>li>a:hover {
    color: #fff;
    background-color: #ee1d23;
}
.panel-danger {
    border: none;
}
.panel-danger .panel-heading {
    background-color: #e61821;
    background-image: none;
    color: #fff;
    position: relative;
    cursor: pointer;
    padding: 5px 15px;
}
.panel-danger .panel-heading h3 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    color: #fff;
}
.panel-danger .panel-heading .fa {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
}
.panel-tour .panel-body {
    padding: 0 15px;
}
.tour-small {
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    min-height: 85px;
}
.list-tour-small>.tour-small:last-child{border-bottom: none}
.tour-small .img {
    width: 70px;
    height: 60px;
    float: left;
}
.tour-small .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.tour-small .info {
    display: block;
    margin-left: 70px;
    padding-left: 10px;
}
.tour-small .info h3 {
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 5px;
    font-weight: normal;
    /* text-align: justify; */
}
.tour-small .info h3 a{color: #1d1d1d}
.tour-small .info .time {
    color: #646464;
    font-size: 14px;
}
#news .main-content{padding: 15px 15px 20px;background-color: #fff;line-height: 1.7;}
#breadcrumb {
    background: 0 0;
    padding: 0;
    margin-bottom: 20px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.breadcrumb>li a{color: #1d1d1d}
.breadcrumb>li+li:before {
    content: "\00BB ";
    color: grey;
}
.btn-red {
    background-color: #ee1d23;color: #fff;
}
.btn-red:active, .btn-red:focus, .btn-red:hover {
    background-color: #c3171d;
    color: #fff;
}
.goog-te-banner-frame{display: none;}
.goog-tooltip {
    display: none !important;
}
.goog-tooltip:hover {
    display: none !important;
}
.goog-text-highlight {
    background-color: transparent !important;
    border: none !important; 
    box-shadow: none !important;
}