::-webkit-scrollbar-corner {
    background-color: #e6e6e6;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 0;
    border-radius: 0;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 12px;
    background-color: transparent;
    border-radius: 0;
}
::-webkit-scrollbar:horizontal{
    height: 12px;
}
::-webkit-scrollbar-thumb {
    border-radius: 0;
    border: 4px solid rgba(255,255,255,0);
    background-clip: content-box;
    background-color: #bfbfbf;
}
.wow {
    visibility: hidden;
}
ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
*{    
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
figure, p {
    margin: 0;
}

a {
    -webkit-transition: all .3s ease-in 0s;
    -moz-transition: all .3s ease-in 0s;
    -ms-transition: all .3s ease-in 0s;
    -o-transition: all .3s ease-in 0s;
    transition: all .3s ease-in 0s;
    color: #666;
}

iframe {
    border: 0;
}

a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
    cursor: pointer;
}

a:focus, a:hover {
    color: inherit;
}

h1, h2, h3,
h4, h5, h6 {
    font-weight: 600;
    margin: 0;
}

.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}

.clear {
    *zoom: 1;
}
.border-dash{
    border: 1px dashed #999;
}
.border-solid{
    border: 1px solid #999;
}
.border-dotted{
    border: 1px dashed #999;
}
.border-right{
    border-left: none;
    border-bottom: none;
    border-top: none;
}
.border-left{
    border-right: none;
    border-bottom: none;
    border-top: none;
}
.border-top{
    border-left: none;
    border-bottom: none;
    border-right: none;
}
.border-bottom{
    border-left: none;
    border-right: none;
    border-top: none;
}
.border-bottom-none {
    border-bottom: none !important;
}
.padding-none{
    padding: 0px;
}
.margin-none{
    margin: 0px;
}

.btn:hover,
.btn:focus {
    outline: 0;
}

.btn-blue {
    background-color: #00c7fc;
    color: #fff;
}

.kill-margin {
    margin: 0 !important;
}
img{
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
}
.overlay{
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background: #000;
    position: absolute;
    left: 0;
    bottom: 0;
    cursor: pointer;
}

.overflow-hidden{
    overflow: hidden;
}
label,b, strong{
    font-weight: 600;
}
.modal-lgs{
    width: 100%;
    margin: 0;
}
.modal-lgs .modal-body{
    padding: 15px 10px;
}
.modal-lgs .modal-content{
    padding: 0
}
.modal-bluegray .modal-header{
    color: #eceff1;
    background-color: #607d8b;
    border-color: #607d8b;
}
.modal-bluegray .modal-header h3 {
    color: #eceff1;
}
.modal-lgs .modal-header .close{
    margin-top: 0;
}
.form-control.error,input[type="checkbox"].error{
    border: 1px solid #a94442 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
}
.error-msg{
    color: red;
    display: block;
    margin-top: 10px;
}
.form-control.error:focus,.form-control.error:hover,.form-control.error:active,input[type="checkbox"].error:hover,input[type="checkbox"].error:focus,input[type="checkbox"].error:active{
    border: 1px solid #843534 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483 !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483 !important;
}
a.disabled, a[disabled],a.disabled:hover, a[disabled]:hover,a.disabled:active, a[disabled]:active,a.disabled:focus, a[disabled]:focus {
    cursor: default;
    background-image: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #333;
    background-color: #E6E6E6;
}
.btn{border-radius: 0;}
input[type=checkbox], input[type=radio]{
    margin: 0
}
input,.form-control{border-radius: 0;}