/*
 *Ultima Color Scheme hex: #101012
 *Copyright 2014 8Guild.com
 */
 
.side-navi ul li.current a {
	-webkit-box-shadow: 0 0 0 2px #101012;
	-moz-box-shadow: 0 0 0 2px #101012;
	box-shadow: 0 0 0 2px #101012;
}
.jumbotron {
  background-color: #101012;
}
.gallery li.gall-expanded > a::after {
	border-bottom-color: #101012;
}
.gall-expander {
	background: #101012;
}
.pricing-plan.highlited .body {
	background-color: #101012;
}
.hero {
	background-color: #101012;
}
.page-block.color {
	background-color: #101012;
}
.social-networks a:hover {
	color: #101012;
}
.footer {
	background-color: #101012;
}
.cs-page header {
	background-color: #101012;
}
.cs-page .footer {
	background-color: #101012;
}
.coming-soon header {
	background-color: #101012;
}
.middle-block {
	background-color: #101012;
}
.stiky-header {
	border-bottom-color: #101012;
}
.main-navi ul li:hover a {
	color: #101012;
}
.main-navi ul li.active a {
	color: #101012;
	border-top-color: #101012;
}

@media screen and (max-width: 991px) {
	.main-navi.open { 
	border-bottom-color: #101012;
	}
	.main-navi ul li a:hover {
		color: #101012;
	}
	.main-navi ul li.active a {
		color: #101012;
		border-left-color: #101012;
	}
}