html,body{height: 100%}
body{font-family: Roboto,sans-serif;font-size: 12px;font-weight: 300;}
p{margin-bottom: 10px}
.modal-dialog{margin: 5px 0;}
.modal-content{background-color: #141925bd;color: rgba(255,255,255,.6);}
.modal-content .form-control {
    border: 0px;
    background: rgba(0, 0, 0, 0.6);
    color: #999;
    height: auto;
    font-size: 13px;
    padding: 10px;
    border-radius: 3px;
}
.modal-header{border-bottom-color:rgba(0,0,0,.4)}
.modal-footer{border-top-color:rgba(0,0,0,.4) }
.btn{border-radius: 3px;font-size: 13px}
.btn-info {
    background-color: #1caf9a;
    border-color: #1caf9a;
}
.btn-primary{
    background-image: -webkit-gradient(linear,left top,left bottom,from(#3384c3),to(#2375b4));
    background-image: -webkit-linear-gradient(#3384c3,#2375b4);
    background-image: linear-gradient(#3384c3,#2375b4);
    background-color: #2b71b1;
    color: #fff;
    border-color: #2a68a5 !important;
}
.btn-primary:hover,.btn-primary:focus{background: #2b71b1}
.btn-primary:active{background: #04c;}
label{color: rgba(255,255,255,.8)}
label.error{color: #db4931;margin-top: 7px;font-style: italic;margin-bottom: 0;}
#login-container{
    background: url(/Resources/img/admin-login-bg.jpg) 50% 50%/cover;    
    width: 100%;
    min-height: 100%;
}
#login-container .login-box {
    width: 400px;
    margin: 0px auto;
    position: relative;
    z-index: 2;
    max-width: 100%;
}
#login-container .login-box.register-box{
    width: 700px;
}
#login-container .login-box.register{width: 800px}
#login-container .login-box .login-logo {
    width: 100%;
    margin-bottom: 10px;
}
#login-container .login-box .login-body {
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
#login-container .login-box .login-body a{color: #ddd}
#login-container .login-box .login-body .login-subtitle{color: #666}
#login-container .login-box .login-body .login-title {
    color: #FFF;
    font-size: 19px;
    font-weight: 300;
    margin-bottom: 20px;
}
#login-container .login-box .login-body .login-title.text-danger{font-weight: bold;margin-bottom: 15px}
#login-container .login-box .login-body .form-control {
    border: 0px;
    background: rgba(0, 0, 0, 0.9);
    color: #CCC;
    height: auto;
    font-size: 13px;padding: 10px
}
#login-container .login-box .login-body .form-control[readonly]{background-color: rgba(255,255,255,.1);cursor: no-drop}
#login-container .login-box .login-body .btn-link {
    color: #FFF;
    border: 0px;
    font-size: 13px;
}
#login-container .login-box .login-footer {
    width: 100%;
    padding: 10px;
    color: #FFF;
}
#login-container .login-box select option {color: #fff;}
#login-container .login-box .login-body .form-control.new-password{
    border-radius: 35px;
    text-align: center;
    background-color: rgba(253, 253, 253, 0.2);
    color: #e05858;
    font-weight: bold;
    cursor: text;
    font-size: 20px;
}
#modal-2faconfirm .ti-mobile{font-size: 80px;}