html,body{font-family: 'Roboto', sans-serif;}


::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 3px;
    margin: 1.5px 0;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #5fa6a9 33%, #4586ca 55%, #0d3263);
    border-radius: 3px;
    box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.13);
}
body{
    font-size: 14px;
    color: #000;
    line-height: 1.5;
    font-weight: 400;
    overflow-x: hidden;
}
p{margin-bottom: 10px}
a{text-decoration: none !important}
img{max-width: 100%}
hr{border-top:1px solid rgba(0,0,0,.4)}
.tooltip{font-size: 12px;}
.small, small{font-weight: inherit}
.btn{border-radius: 3px;font-size: 13px}
label.error{color: #db4931;margin-top: 7px;font-style: italic;margin-bottom: 0;display: block;font-size: 13px;}
.form-text{margin-top: 5px;font-style: italic;color: #999;font-size: 11px}
.tab-content{margin-top: 20px}
.badge{padding: 2px 5px;line-height: unset;font-weight: 500;font-size: 10px;border-radius: 2px;}
p.notice{line-height: 1.5;font-size: 12px;text-indent: 15px;}
p.notice b{margin-left: -15px;}
.nav-tabs{border-bottom: 1px solid rgba(0,0,0,.5);}
.nav-tabs .nav-link{border-radius: 0;color: #fff;border: none !important}
.nav-tabs .nav-link.active{background-color: rgba(0,0,0,.5);color: #999}
.bg-gray{background-color: rgba(0,0,0,.5);}
.btn-primary{
    background-image: -webkit-gradient(linear,left top,left bottom,from(#3384c3),to(#2375b4));
    background-image: -webkit-linear-gradient(#3384c3,#2375b4);
    background-image: linear-gradient(#3384c3,#2375b4);
    background-color: #2b71b1;
    color: #fff;
    border-color: #2a68a5 !important;
}
.btn-primary:hover,.btn-primary:focus{background: #2b71b1}
.btn-primary:active{background: #04c;}
.btn-success{
    background-color: #1caf9a;
    border-color: #1caf9a;
}
.btn-success:hover,.btn-success:focus,.btn-success:active{
    background-color: #199987;
    border-color: #199987;
}
.form-control{
    border: 0px;
    background: rgba(0, 0, 0, 0.9);
    color: #999;
    height: auto;
    font-size: 13px;
    padding: 10px;
    border-radius: 3px;
}
.form-control:focus{background-color: rgba(0, 0, 0, 0.6);color: #bbb;}
select.form-control option{color: #fff;}
header{
    background-color: #141925;
    color:#fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #3e3e42;
    z-index: 99;
    padding: 0 15px;
}
header .logo{padding: 0 32px 0 0;color: #fff !important;text-transform: uppercase;font-weight: 700;letter-spacing: 3px;font-style: italic;}
header .logo img{
    /* height: 28px; */
    /* width: 105px; */
    pointer-events: none;
    max-height: 75px;
}

header .short-menu{margin-bottom: 0}
header .short-menu>li>a{color:#fff;letter-spacing: .02em;font-size: 12px;text-transform: uppercase;line-height: 56px;margin: 0 8px;padding: 0 8px;}
header .short-menu>li.active>a,header .short-menu>li>a:hover{color:#ffdd47}

header .active-account{
    font-weight: 500;
    color:#949496;
    -webkit-transition: color .2s ease-in,background-color .2s ease-in;
    transition: color .2s ease-in,background-color .2s ease-in;
    font-size: 24px;
    padding: 0 15px;
    padding-top: 8px;
    text-align: center;
}
header .active-account:hover{color: #fff;cursor: pointer}
header .active-account small{font-size: 10px;}
header .active-account .fas{font-size: 80%;}
.sync{
    width: 32px;
    height: 32px;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
    background: #949496;
    color:#292a2e;
    display: inline-block;
    cursor: pointer;
}
.sync.active{    
    -webkit-animation-name: preload-rotate;
    animation-name: preload-rotate;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-box-sizing: border-box;
    background: #ffdd47;
}
.sync:hover{background: #ffdd47;}

header .deposit{
    margin-left: 24px;
    letter-spacing: .02em;
    line-height: 20px;
    padding: 5px 16px;
    font-size: 24px;
}
header .deposit small{
    font-size: 10px;
    display: block;
    margin-bottom: 3px;
}
header .deposit b{
    
}
.dropdown-menu{
    background: #28292d;
    color: #fff;
    padding: 8px 0;
    font-size: 14px;
}
.dropdown-menu .dropdown-header{ 
    padding: 8px 16px;    font-size: 12px;    line-height: 16px;color: #949496;
    cursor: default;
    text-align: center
}
.dropdown-menu .dropdown-item{ 
    font-size: 14px;
    padding: 10px 20px;color: #a9a9ab;margin: 0
}
.dropdown-menu .dropdown-item:hover{    
    background: #3e3e42;
    color: #fff;
}

header .active-account .dropdown-menu{
    width: 340px;
}
header .active-account input[type="radio"]{
    position: relative;width: 13px;height: 13px;
    margin-right: 15px;
    margin-top: -2px
}
header .active-account input[type="radio"]:before,
header .active-account input[type="radio"]:after{
    content: "";
    position: absolute;top: 0;left: 0;width: 100%;height: 100%;border-radius: 50%;overflow: hidden;
}
header .active-account input[type="radio"]:before{border:2px solid #fff;z-index: 1}
header .active-account input[type="radio"]:after{z-index: 0;background-color: #28292d}
header .active-account input[type="radio"]:checked:after{background-color: #fff;}

header .user .btn-link{font-size: 10px;color: #d0d0d0;text-decoration: none !important;}
header .user .btn-link:hover{color: #fff;}
header .user .btn-link .badge{
    font-size: 7px;
    padding: 2px 3px;
    margin-right: 10px;
    display: block;
    letter-spacing: .05em;
    color: rgba(255,255,255,.7);
    font-weight: 600;
    border-radius: 2px;
}
header .user .btn-link .badge:hover{background: #696f83}
header .user .dropdown-menu .dropdown-item{font-size: 13px}
header .user .dropdown-menu .fas,header .user .dropdown-menu .far{width: 16px;text-align: center;margin-right: 10px}

@media(max-width:1200px){
    header .active-account input[type="radio"]{margin-right: 5px}
    #menu-overlay,#mb-menu{position: fixed;top:0;left: 0;width: 100%;height: 100%;z-index: 998;}
    #menu-overlay{background-color: rgba(0,0,0,.7);display: none;}
    #mb-menu{z-index: 999;background-color: #28292d;overflow: auto;padding: 15px;width: 200px;max-width: 100%;left: -200px;transition: left ease-in-out .3s}
    #close-menu{position: absolute;right: 0;color: #fff;top: 0;width: 26px;height: 26px;padding: 6px;}
    #mb-menu.open{left: 0;}
    #mb-menu ul>li.divider{height: 1px;background-color: rgba(255,255,255,.1)}
    #mb-menu ul>li>a{color: rgba(255,255,255,.6);text-transform: uppercase;display: block;padding: 7px 0}
    #mb-menu ul>li>a i{margin-right: 5px}

    header{padding-left: 0}
    #toggle-mb-menu{width: 45px;height: 55px;border-right: 1px solid #3e3e42!important;margin-right: 5px;color: #fff;font-size: 18px;color: #fff !important;}
    header .logo{padding-right: 5px;}
    header .logo img{height: 55px;}
    header .active-account{font-size: 13px;padding-top: 4px;padding: 0 10px 0 0;}
    header .active-account .account-type-amount{ display: inline-block;max-width: 87px;overflow: hidden;text-overflow: ellipsis;line-height: 1;vertical-align: middle;}
    header .active-account .dropdown-menu{width:auto}
    header .deposit{line-height: 30px}
    header .sync{width: 25px;height: 25px;line-height: 25px;font-size: 11px;}
}

#content{background-color: #141925;height: 100vh;position: relative;padding-left: 80px;}
#content .left-sidebar{border-right: 1px solid #3e3e42;height: 100%;padding: 112px 10px 10px;text-align: center;width: 80px;position: absolute;z-index: 14;background-color: #141925;overflow: auto;left: 0;top: 0;}
#content .left-sidebar .menu{margin-bottom: 0;height: 100%;}
#content .left-sidebar .menu>li>a{
    display: block;margin-bottom: 24px;
    color: rgba(255,255,255,.7);
    transition: color ease-in-out .3s
}
#content .left-sidebar .menu>li>a:hover{color: #fff;}
#content>.row{
    height: 100%;
}
#content .left-sidebar .menu>li>a i,
#content .left-sidebar .menu>li>a span{display: block}
#content .left-sidebar .menu>li>a i{height: 24px;width: 24px;margin: 0 auto 6px;border-radius: 50%;line-height: 24px;text-align: center;border: 1px solid rgba(255,255,255,.3);transition: border-color ease-in-out .3s;font-size: 12px;}
#content .left-sidebar .menu>li>a:hover i{border-color: #fff}
#content .left-sidebar .menu>li>a span{font-size: 11px}
@media(max-width:1200px){
    #content .left-sidebar .menu>li>a span{display: none}
}
@media(max-width:575px){
    #content{overflow: auto;padding-left: 45px;}
    /*#content .left-sidebar{width: 40px;padding-top: 0;}*/
    #content .left-sidebar .menu>li>a{margin-bottom: 15px;}
    #content .left-sidebar .menu>li>a i{margin-top: 0;}
}
#content .main-content{padding: 40px 40px 40px 15px;color: #fafafad1;height: 100%;position: relative;overflow: auto;background-color: #141925;}
#content .main-content h1{
    font-weight: 300;
    font-size: 32px;
    letter-spacing: 0;line-height: 38px;margin-bottom: 24px;
    margin-top: 0
}

@media(max-width:575px){
  #content .left-sidebar{
    width: 45px;
  }
    #content .left-sidebar,#content .main-content{border-bottom: 1px solid #3e3e42;}
}
.modal-content{background-color: #141925;color: rgba(255,255,255,.7)}
.modal-header{border-bottom-color:rgba(0,0,0,.4)}
.modal-header .close{color: rgba(255,255,255,.5);text-shadow: none;outline: none;}
.modal-footer{border-top-color:rgba(0,0,0,.4) }
#modal-affiliate .affiliate-link{position: relative}
#modal-deposit .wallet-address,#modal-affiliate .affiliate-link input{
    margin-bottom: 15px;border-radius: 20px;color: rgba(255,255,255,.7);font-size: 16px;text-align: center;font-weight: 600;background-color: rgba(0, 0, 0, 0.9)
}
#modal-affiliate .affiliate-link i{position: absolute;top: 14px;right: 18px;cursor: pointer;}
#modal-affiliate .affiliate-link i:hover{color: #fff;}
@media (max-width:575px){
    #modal-deposit .wallet-address,#modal-affiliate .affiliate-link input{font-size: 13px;}
    #modal-affiliate .affiliate-link input{padding-right:20px}
    #modal-affiliate .affiliate-link i{
    top: 12px;
}
}
#sidebar-detail{position: absolute;top: 0;left: -500px;width: 500px;max-width: 100%;background-color: #141925;height: 100%;overflow: hidden;z-index: 13;border: solid #3e3e42;border-width: 1px 1px 0 0;border-left: 0;transition: left ease-in-out .3s;padding-top: 40px;}
#sidebar-detail.loading{background: url('../../../shared/img/loading.gif') center center no-repeat #000000;}
#sidebar-overlay{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: transparent;z-index: 12;display: none}
#sidebar-overlay.open{display: block;}
#sidebar-detail.open{left: 0;}
#sidebar-detail .sidebar-header{
    padding: 0 5px 0 15px;
    min-height: 40px;
    align-items: center;
    background-color: #070e1f;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
    border-bottom: 1px solid rgba(0,0,0,.25);
}
#sidebar-detail .sidebar-header .title{
    color: rgba(230,230,230,.8);
    font-size: 13px;
}
#sidebar-detail .close-sidebar{
    height: 26px;
    width: 26px;
    line-height: 26px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 6px;
    right: 5px;
    z-index: 13;
}
#sidebar-detail .sidebar-content{height: 100%}
#sidebar-detail .sidebar-body{height: 100%;overflow: auto;}
.history-trading .item{padding: 7px 15px;color: rgba(255, 255, 255, 0.7);background-color: #101729;}
.history-trading .group{padding: 7px;font-size: 11px;color: #999;background-color: #070e1f;}
.history-trading .group .input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffffbd;
    text-align: center;
    white-space: nowrap;
    background-color: #010103;
    border: 1px solid #010103;
    border-radius: .25rem;
}
.history-trading .item .top{font-size: 11px;margin-bottom: 3px;}
.history-trading .item .bottom,#sidebar-detail .history-trading .item .top{overflow: hidden;text-overflow: ellipsis;}
/*#sidebar-detail .history-trading .item:nth-child(odd){background-color: #1f2638;}*/

#modal-2faconfirm .ti-mobile{font-size: 80px;}
.main-body{
    padding: 15px 0;
}
/* Morris charts */
.morris-hover {
  position: absolute;
  z-index: 1000;
}
.morris-hover.morris-default-style {
  border-radius: 10px;
  padding: 6px;
  color: #666;
  background: rgba(255, 255, 255, 0.8);
  border: solid 2px rgba(230, 230, 230, 0.8);
  font-family: sans-serif;
  font-size: 12px;
  text-align: center;
}
.morris-hover.morris-default-style .morris-hover-row-label {
  font-weight: bold;
  margin: 0.25em 0;
}
.morris-hover.morris-default-style .morris-hover-point {
  white-space: nowrap;
  margin: 0.1em 0;
}
/* END Morris charts */
.pagination { margin: 2px 0}
.pagination > li:first-child span { text-transform: uppercase;}
.pagination > li > a, .pagination > li > span {margin: 3px;border-radius: 0;color: #3e3e3e;padding: 2px 8px;border: 0;background-color: #ddd !important;display: block;}
.pagination > li:first-child > a, .pagination > li:first-child > span { border-radius: 0;font-weight: bold;}
.pagination > li:last-child > a, .pagination > li:last-child > span { border-radius: 0;font-weight: bold; }
.pagination > li > a.active {background: #070e1f !important;color: #fff;font-weight: bold;}
.pagination > li > a:hover {background: #070e1f !important;transition: ease 0.2s;color: #fff;}
.chart-holder *{font-family: inherit !important}