#distributor-view-tree ul{padding-left: 0px;}
#distributor-view-tree ul li{border-left: 2px solid #fafafad1;display: block;font-size: 14px;list-style: square;margin-left: 5px;padding: 5px 0 0px 15px;position: relative;}
#distributor-view-tree ul>li:last-child{border-left: none;}
#distributor-view-tree ul>li:last-child>a:after{background-color: #fafafad1;content: "";cursor: default;height: 26px;left: -15px;position: absolute;top: -18px;width: 2px;}
#treeDiagram>ul:first-child>li:last-child>a:after{display: none}
#distributor-view-tree ul li a{position: relative;text-transform: capitalize;text-decoration: none;cursor: pointer;white-space: nowrap;letter-spacing: 2px;}
#distributor-view-tree ul li a span{cursor: pointer;text-transform: uppercase;font-weight: 600;color: #fafafad1;}
#distributor-view-tree ul li a:before{background-color: #fafafad1;content: "";height: 2px;left: -14px;position: absolute;top: 6px;width: 16px;}
#treeDiagram>ul:first-child>li:last-child>a:before{display: none}
#distributor-view-tree>ul>li{border-left: none;}
#distributor-view-tree>ul>li>a:before{display: none;}
#distributor-view-tree>ul>li>a:after{display: none;}
#distributor-view-tree ul li .end{padding-left: 10px;}
#distributor-view-tree .hide-item>ul{display: none;}