#content .main-content{padding: 40px 0 0;position: relative;/* background:url('../img/chart-bg.jpg') 50% 50%/cover; */background-color: #0e1321;/* overflow: visible; */}
#trade-action{position: absolute;top: 0;left: 0;width: 100%;z-index: 11;background-color: #0e1321;}
#trade-action .coin-type{border-bottom: 1px solid #3e3e42;}
#trade-action .coin-type>a{height: 39px;display: block;/* background-color: rgba(255,255,255,.15); */padding: 0 15px 0 20px;min-width: 220px;font-size: 12px;cursor: pointer;}
#trade-action .coin-type>a span{margin-right: 5px}
#trade-action .coin-type .dropdown-menu{margin-left: -5px;}
#trade-action .coin-type .coin-search{position: relative}
#trade-action .coin-type .coin-search .form-control{padding: 5px 15px;border-radius: 15px;}
#trade-action .coin-type .coin-search i{position: absolute;right: 8px;top: 9px;opacity: .5;color: #eee;font-size: 11px;}
#trade-action .coin-type .dropdown-menu .dropdown-item {color: rgba(255,255,255,.3);font-size: 14px;cursor: not-allowed;}
#trade-action .coin-type .dropdown-menu .dropdown-item.available-coin{color:rgba(255,255,255,.8);cursor: pointer;}
#trade-action .coin-type .dropdown-menu .dropdown-item.active{background-color: transparent;color: #ffdd47}
#trade-action .coin-type .dropdown-menu .dropdown-item.d-none{display: none !important;}
#trade-action .trade-info{justify-content: space-between;border-left: 1px solid #3e3e42;padding: 10px 10px 10px 8px;border-bottom: 1px solid #3e3e42;}
#trade-action .trade-info small{font-size: 12px;font-weight: 500;text-transform: uppercase;/* color: rgba(255,255,255,.7); */}
#trade-action .trade-info span{font-size: 15px;line-height: 1.1;/* color: rgba(255,255,255,.6); */}
#trade-action .trade-info .coin-status .fas{font-size: 80%;}

@media(max-width:575px){
    #content .main-content{padding-top: 104px;OVERFLOW: AUTO;}
    #chartContainer{min-height: 350px !important;}
    #trade-action .coin-type{width: 33.33333333333%}
    #trade-action .coin-type>a{min-width: 0;padding: 0 10px;font-size: 11px;height: 25px;}
    #trade-action .trade-info.trade-info-2nd{border-left-color: transparent}
    #trade-action .trade-info{height: 26px}
    #trade-action .trade-info small,
    #trade-action .trade-info span{font-size: 11px}
    #trade-action .trade-info small i{display: none}
}

#preloader{
    position:fixed;
    width:100%;
    height:auto;
    min-height:100%;
    top:0;
    left:0;
    background-color:#131416;
    z-index:9999;
}
#spinner{
    position: absolute;
    top: 50%;left: 50%;
    width: 70px;height: 70px;
    margin: -35px 0 0 -35px;
    -webkit-animation-name: preload;
    animation-name: preload;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
#spinner:before,#spinner:after{
    content:"";
    position: absolute;top: 0;left: 0;width: 100%;height: 100%;
}
#spinner:before{
    -webkit-animation-name: preload-rotate;
    animation-name: preload-rotate;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 50%;
    border: 5px solid transparent;
    border-left-color: #ff7700;
}
#spinner:after{
    background: url('../../../shared/img/pre-loader-logo.png') center 6px no-repeat;
}
@-moz-keyframes preload { 
    0% { opacity:1; } 
    50% { opacity:.4; }
    100% { opacity:1; } 
}
@-webkit-keyframes preload {
    0% { opacity:1; } 
    50% { opacity:.4; }
    100% { opacity:1; } 
}
@keyframes preload { 
    0% { opacity:1; } 
    50% { opacity:.4; }
    100% { opacity:1; } 
}

@-moz-keyframes preload-rotate { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes preload-rotate { 100% { -webkit-transform: rotate(360deg); } }
@keyframes preload-rotate { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
.canvasjs-chart-toolbar{border-color: rgba(255, 255, 255, 0.15) !important;border-radius: 4px;left: 50%;top: 21px !important;margin-left: -32px;right: auto !important;}
.canvasjs-chart-toolbar>button{background-color: #131416 !important;height: auto !important;padding: 8px 10px !important;width: auto !important;}
.canvasjs-chart-toolbar>button[title="Pan"],.canvasjs-chart-toolbar>button[title="Zoom"]{border-right-color: rgba(255, 255, 255, 0.15) !important;border-radius: 4px 0 0 4px !important;}
.canvasjs-chart-toolbar>button[title="Reset"]{border-radius: 0 4px 4px 0 !important;}
.canvasjs-chart-toolbar>button:hover{background-color: #0e0e0e !important;}
.canvasjs-chart-toolbar>button img{filter: brightness(0) invert(.7) !important;height: 13px !important;transition: filter .2s}
.canvasjs-chart-toolbar>button:hover img{filter: brightness(0) invert(.9) !important;}


#content .right-sidebar{color: rgba(255,255,255,.7);border-left: 1px solid #3e3e42;height: 100%;max-width: 140px;overflow: auto;}
#content .right-sidebar .amount{margin-bottom: 15px;}
#content .right-sidebar .amount .top{border: 2px solid #3e3f42;border-radius: 5px 5px 0 0;padding: 7px 7px 4px;}
#content .right-sidebar .amount .top label,#content .right-sidebar .profit label{font-size: 12px;margin-bottom: 7px;}
#content .right-sidebar .amount .top label .fas,#content .right-sidebar .profit label .fas{font-size: 9px; position: relative}
#content .right-sidebar .amount .top label .fas:after,#content .right-sidebar .profit label .fas:after{content: "";position: absolute;top: -3px;right: -3px;bottom: -3px;left: -3px}
#content .right-sidebar .amount .top .input{position: relative;padding-left: 15px;}
#content .right-sidebar .amount .top .input input{width: 100%;border: none !important;background-color: transparent;outline: none !important;color: #fff}
#content .right-sidebar .amount .top .input .prefix{position: absolute;top: 1px;left: 0;}
#content .right-sidebar .amount .bottom{margin-top: 1px;}
#content .right-sidebar .amount .bottom span{width: 50%;background-color: #3e3e42;text-align: center;padding: 2px 0;transition: background-color ease-in-out .3s;cursor: pointer}
#content .right-sidebar .amount .bottom span.down{border-radius: 0 0 5px 0;}
#content .right-sidebar .amount .bottom span.up{border-radius: 0 0 0 5px;border-right: 1px solid #28292d;}
#content .right-sidebar .amount .bottom span:hover{background-color: #646569}

#content .right-sidebar .profit {margin-bottom: 25px}
#content .right-sidebar .profit label{}
#content .right-sidebar .profit .percent,#content .right-sidebar .profit .money{color: #2cac40}
#content .right-sidebar .profit .percent{font-size: 50px;font-weight: 100;letter-spacing: 0.02em}
#content .right-sidebar .profit .money{font-weight: 600;font-size: 86%;}

#content .right-sidebar .suggest{margin-bottom: 15px;}
#content .right-sidebar .suggest label{font-size: 13px;text-align: center;display: block}
#content .right-sidebar .suggest .progress{margin-bottom: 5px}
#content .right-sidebar .suggest .rate span{font-size: 10px}

#content .right-sidebar .call{display: block;color: #fff;font-size: 15px;text-transform: uppercase;border-radius: 2px;padding: 15px 0;font-weight: 300;transition: background-color ease-in-out .3s;}
#content .right-sidebar .call i{font-size: 45px;margin-bottom: 10px;}
#content .right-sidebar .call.call-up{background-color: #2cac40;margin-bottom: 5px}
#content .right-sidebar .call.call-up:hover{background-color: #298b3f}
#content .right-sidebar .call.call-down{background-color: #db4931}
#content .right-sidebar .call.call-down:hover{background-color: #ad4235}
#content .right-sidebar .call.disabled{cursor: not-allowed;-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */filter: grayscale(100%);}
#content .right-sidebar .call.disabled.call-up{background-color: #2cac40 !important}
#content .right-sidebar .call.disabled.call-down{background-color: #db4931 !important}
#content .right-sidebar .trade-area{padding: 10px}
#content .right-sidebar .btn-compose{width: 100%;text-align: center;padding: 15px 10px;font-size: 13px;border-top: 1px solid #3e3e42;cursor: pointer;color: inherit;}
#content .right-sidebar .btn-compose:hover{color: #fff;}
@media(max-width:575px){
    #content .right-sidebar{max-width: none}
    #content .right-sidebar .amount{margin-bottom: 5px}
    #content .right-sidebar .profit{margin-bottom: 5px;}
    #content .right-sidebar .profit label{margin-bottom: 0;font-size: 10px;}
    #content .right-sidebar .profit .percent{font-size: 16px;/* line-height: 1; */margin: 0 5px 0 0;color: inherit;font-size: 10px;}
    #content .right-sidebar .profit .money{line-height: 1;font-size: 16px;}
    #content .right-sidebar .suggest{margin-bottom: 5px}
    #content .right-sidebar .call{padding: 5px 0;font-size: 12px;border-radius: 1px;}
    #content .right-sidebar .call.call-down{margin-left: 2.5px}
    #content .right-sidebar .call.call-up{margin-right: 2.5px}
    #content .right-sidebar .call i{font-size: 20px;}
}

#content .right-sidebar .history-rate{margin: 0 -2px 10px}
#content .right-sidebar .history-rate>li{float: left;min-width: 16.66666666666667%;}
#content .right-sidebar .history-rate .dot{display: block;width: 13px;height: 13px;margin: 2.5px auto;background-color: rgba(69, 84, 119,.2);border-radius: 50%;border:1px solid rgba(255,255,255,.5);}
#content .right-sidebar .history-rate .dot.current{
    -webkit-animation-name: lightupglow;
    animation-name: lightupglow;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-box-sizing: border-box;
    /*box-shadow: 0 0 5px rgba(255,255,255,1)*/
}
#content .right-sidebar .history-rate .dot.equal{background-color: #999;}
#content .right-sidebar .history-rate .dot.equal.current{
    -webkit-animation-name: lightequalglow;
    animation-name: lightequalglow;
}
#content .right-sidebar .history-rate .dot.up{background-color: #2cac40;}
#content .right-sidebar .history-rate .dot.up.current{
    -webkit-animation-name: lightupglow;
    animation-name: lightupglow;
}
#content .right-sidebar .history-rate .dot.down.current{
    -webkit-animation-name: lightdownglow;
    animation-name: lightdownglow;
}
#content .right-sidebar .history-rate .dot.down{background-color: #db4931}
@media(max-width:575px){
    #content .right-sidebar .history-rate{max-width: 200px}
}
@keyframes lightequalglow {
    0% {
        box-shadow: 0 0 1px 1px rgba(153, 153, 153, 0.7);
    }
    50% {
        box-shadow: 0 0 1px 3px rgba(153, 153, 153, 0.7);
    }
    100% {
        box-shadow: 0 0 1px 1px rgba(153, 153, 153, 0.7);
    }
}
@keyframes lightupglow {
    0% {
        box-shadow: 0 0 1px 1px rgba(44, 172, 64,.7);
    }
    50% {
        box-shadow: 0 0 1px 3px rgba(44, 172, 64,.7);
    }
    100% {
        box-shadow: 0 0 1px 1px rgba(44, 172, 64,.7);
    }
}
@keyframes lightdownglow {
    0% {
        box-shadow: 0 0 1px 1px rgba(219, 73, 49, 0.7);
    }
    50% {
        box-shadow: 0 0 1px 3px rgba(219, 73, 49, 0.7);
    }
    100% {
        box-shadow: 0 0 1px 1px rgba(219, 73, 49, 0.7);
    }
}