/*WIDGETS */
.widget {
    width: 100%;
    float: left;
    margin: 0px;
    list-style: none;
    text-decoration: none;
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    color: #FFF;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    padding: 15px 10px;
    margin-bottom: 20px;
    min-height: 120px;
    position: relative;
}
.widget.widget-padding-sm,
.widget.widget-item-icon {
    padding: 10px 0px 5px;
}
.widget.widget-np {
    padding: 0px;
}
.widget.widget-no-subtitle {
    padding-top: 25px;
}
.widget.widget-carousel {
    padding-bottom: 0px;
    padding-top: 10px;
}
.widget.widget-default {
    background: rgba(30, 45, 82, 0.9);
    background: -moz-linear-gradient(left, rgba(25, 29, 37, 0.9) 0%, rgba(28, 37, 62, .9) 33.333%, rgba(30, 45, 82, 0.9) 100%);
    background: -webkit-linear-gradient(left, rgba(25, 29, 37, 0.9) 0%, rgba(28, 37, 62, .9) 33.333%, rgba(30, 45, 82, 0.9) 100%);
    background: -ms-linear-gradient(left, rgba(25, 29, 37, 0.9) 0%, rgba(28, 37, 62, .9) 33.333%, rgba(30, 45, 82, 0.9) 100%);
}
.widget.widget-primary {
    background: #1b1e24;
    background: -moz-linear-gradient(top, #1b1e24 0%, #101215 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1b1e24), color-stop(100%, #101215));
    background: -webkit-linear-gradient(top, #1b1e24 0%, #101215 100%);
    background: -o-linear-gradient(top, #1b1e24 0%, #101215 100%);
    background: -ms-linear-gradient(top, #1b1e24 0%, #101215 100%);
    background: linear-gradient(to bottom, #1b1e24 0%, #101215 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#1b1e24, endColorstr=#101215, GradientType=0);
}
.widget.widget-success {
    background: #95b75d;
    background: -moz-linear-gradient(top, #95b75d 0%, #89ad4d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #95b75d), color-stop(100%, #89ad4d));
    background: -webkit-linear-gradient(top, #95b75d 0%, #89ad4d 100%);
    background: -o-linear-gradient(top, #95b75d 0%, #89ad4d 100%);
    background: -ms-linear-gradient(top, #95b75d 0%, #89ad4d 100%);
    background: linear-gradient(to bottom, #95b75d 0%, #89ad4d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#95b75d, endColorstr=#89ad4d, GradientType=0);
}
.widget.widget-info {
    background: #1caf9a !important;  
}
.widget.widget-warning {
    background: #1caf9a;
    background: -moz-linear-gradient(top, #1caf9a 0%, #fe970a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1caf9a), color-stop(100%, #fe970a));
    background: -webkit-linear-gradient(top, #1caf9a 0%, #fe970a 100%);
    background: -o-linear-gradient(top, #1caf9a 0%, #fe970a 100%);
    background: -ms-linear-gradient(top, #1caf9a 0%, #fe970a 100%);
    background: linear-gradient(to bottom, #1caf9a 0%, #fe970a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#1caf9a, endColorstr=#fe970a, GradientType=0);
}
.widget.widget-danger {
    background: #E04B4A;
    background: -moz-linear-gradient(top, #E04B4A 0%, #a43f3e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E04B4A), color-stop(100%, #a43f3e));
    background: -webkit-linear-gradient(top, #E04B4A 0%, #a43f3e 100%);
    background: -o-linear-gradient(top, #E04B4A 0%, #a43f3e 100%);
    background: -ms-linear-gradient(top, #E04B4A 0%, #a43f3e 100%);
    background: linear-gradient(to bottom, #E04B4A 0%, #a43f3e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E04B4A, endColorstr=#a43f3e, GradientType=0);
}
.widget .widget-title,
.widget .widget-subtitle,
.widget .widget-int,
.widget .widget-big-int {
    width: 100%;
    float: left;
    text-align: center;
}
.widget .widget-title {
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 5px;
    line-height: 20px;
    text-transform: uppercase;
}
.widget .widget-subtitle {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 5px;
    line-height: 15px;
    color: #EEE;
}
.widget .widget-int {
    font-size: 27px;
    line-height: 40px;
    font-weight: bold;
    font-family: arial;
    margin-bottom: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.widget .widget-big-int {
    font-size: 42px;
    line-height: 45px;
    font-weight: 300;
}
.widget .widget-item-left {
    margin-left: 10px;
    float: left;
    width: 100px;
}
.widget .widget-item-right {
    margin-right: 10px;
    float: right;
    width: 100px;
}
.widget.widget-item-icon .widget-item-left,
.widget.widget-item-icon .widget-item-right {
    width: 70px;
    padding: 20px 0px;
    text-align: center;
}
.widget.widget-item-icon .widget-item-left {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    margin-right: 10px;
    padding-right: 10px;
}
.widget.widget-item-icon .widget-item-right {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    padding-left: 10px;
}
.widget .widget-item-left .fas,
.widget .widget-item-right .fas,
.widget .widget-item-left .glyphicon,
.widget .widget-item-right .glyphicon {
    font-size: 50px;
}
.widget .widget-data {
    padding-left: 120px;
}
.widget .widget-data-left {
    padding-right: 120px;
}
.widget.widget-item-icon .widget-data {
    padding-left: 90px;
}
.widget.widget-item-icon .widget-data-left {
    padding-right: 90px;
    padding-left: 10px;
}
.widget .widget-data .widget-title,
.widget .widget-data-left .widget-title,
.widget .widget-data .widget-subtitle,
.widget .widget-data-left .widget-subtitle,
.widget .widget-data .widget-int,
.widget .widget-data-left .widget-int,
.widget .widget-data .widget-big-int,
.widget .widget-data-left .widget-big-int {
    text-align: left;
}
.widget .widget-controls a {
    position: absolute;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 17px;
    color: #FFF;
    border: 1px solid #FFF;
    -moz-border-radius: 20%;
    -webkit-border-radius: 20%;
    border-radius: 20%;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    opacity: 0.4;
    filter: alpha(opacity = 40);
}

.widget .widget-controls a.widget-control-left {
    left: 10px;
    top: 10px;
}
.widget .widget-controls a.widget-control-right {
    right: 10px;
    top: 10px;
}
.widget .widget-controls a:hover {
    opacity: 1;
    filter: alpha(opacity = 100);
}
.widget .widget-buttons {
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 3px;
    margin-top: 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.widget .widget-buttons a {
    position: relative;
    display: inline-block;
    line-height: 30px;
    font-size: 21px;
    color: #fff;
}
.widget .widget-buttons .col {
    width: 100%;
    float: left;
}
.widget .widget-buttons.widget-c2 .col {
    width: 50%;
}
.widget .widget-buttons.widget-c3 .col {
    width: 33.333333%;
}
.widget .widget-buttons.widget-c4 .col {
    width: 25%;
}
.widget .widget-buttons.widget-c5 .col {
    width: 20%;
}
.widget.widget-primary .widget-buttons a {
    color: #fff;
    border-color: #000000;
}
.widget.widget-primary .widget-buttons a:hover {
    color: #000000;
}
.widget.widget-success .widget-buttons a {
    color: #51672e;
    border-color: #51672e;
}
.widge.widget-success .widget-buttons a:hover {
    color: #435526;
}
.widget.widget-info .widget-buttons a {
    color: #eee;
    border-color: #eee;
}
.widget.widget-info .widget-buttons a:hover {
    color: #fff;
}
.widget.widget-warning .widget-buttons a {
    color: #a15e01;
    border-color: #a15e01;
}
.widget.widget-warning .widget-buttons a:hover {
    color: #874f01;
}
.widget.widget-danger .widget-buttons a {
    color: #5a2222;
    border-color: #5a2222;
}
.widget.widget-danger .widget-buttons a:hover {
    color: #471b1b;
}
.plugin-clock span {
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: pulsate 1s ease-out;
    -moz-animation-iteration-count: infinite;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
    opacity: 0.0;
    margin-right: 2px;
}
.widget.widget-default {
    color: #fff;
}
.widget.widget-default .widget-subtitle {
    color: #fff;
}
.widget.widget-default .widget-controls a {
    color: #1b1e24;
    border-color: #1b1e24;
}
/* END WIDGETS */

/* PANELS */
.panel {
    float: left;
    width: 100%;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    border: 0px;
    border-top: 2px solid #E5E5E5;
    margin-bottom: 20px;
    background-color: rgba(0,0,0,.5);
    position: relative;
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}
.panel.panel-default {
    border-top-color: #F5F5F5;
    border-top-width: 1px;
}
.panel.panel-primary {
    border-top-color: #1b1e24;
}
.panel.panel-success {
    border-top-color: #95b75d;
}
.panel.panel-info {
    border-top-color: #1caf9a;
}
.panel.panel-warning {
    border-top-color: #1caf9a;
}
.panel.panel-danger {
    border-top-color: #E04B4A;
}
.panel.panel-colorful:before {
    content: "";
    width: 100%;
    height: 2px;
    background: linear-gradient(left, #E04B4A 0%, #1caf9a 50%, #95b75d 100%);
    background: -o-linear-gradient(left, #E04B4A 0%, #1caf9a 50%, #95b75d 100%);
    background: -moz-linear-gradient(left, #E04B4A 0%, #1caf9a 50%, #95b75d 100%);
    background: -webkit-linear-gradient(left, #E04B4A 0%, #1caf9a 50%, #95b75d 100%);
    background: -ms-linear-gradient(left, #E04B4A 0%, #1caf9a 50%, #95b75d 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #E04B4A), color-stop(0.5, #1caf9a), color-stop(1, #95b75d));
    display: block;
    left: 0px;
    top: 0px;
}
.panel .panel-heading {
    padding: 10px;
}
.panel .panel-heading .panel-title-image {
    float: left;
    width: 30px;
    border: 2px solid #D5D5D5;
    -moz-border-radius: 20%;
    -webkit-border-radius: 20%;
    border-radius: 20%;
    margin-right: 5px;
}
.panel .panel-heading .panel-title {
    margin-left: 7px;
}
.panel .panel-heading .panel-title-box {
    float: left;
}
.panel .panel-heading .panel-title-box h3 {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: #fff;
    padding: 0px;
    margin: 0px;
}
.panel .panel-heading .panel-title-box span {
    font-size: 12px;
    color: #586377;
    font-weight: 400;
    line-height: 12px;
}
.panel .panel-heading,
.panel .panel-footer,
.panel .panel-body {
    float: left;
    width: 100%;
}
.panel .panel-body.panel-body-table{
    padding: 0;
    overflow: auto;
}
.panel .panel-body.panel-body-table table{margin-bottom: 0}
.panel .panel-body.panel-body-table table th{border-bottom: none;border-top: none;font-size: 85%}
.panel .panel-body.panel-body-table table td{vertical-align: middle;font-size: 90%;border-top: 1px solid rgba(222, 226, 230, .2);}
.panel .panel-body {
    padding: 15px;
    position: relative;
}
.panel .panel-body.scroll {
    padding-right: 0px;
}
.panel .panel-body.panel-body-map {
    padding: 5px;
}
.panel .panel-body.panel-body-image {
    padding: 0px;
    margin-bottom: 10px;
    position: relative;
}
.panel .panel-body.panel-body-image img {
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    width: 100%;
}
.panel .panel-body.panel-body-image .panel-body-inform {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: -15px;
    left: 50%;
    background: #1caf9a;
    color: #FFF;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    margin-left: -15px;
    text-align: center;
    line-height: 30px;
    padding-left: 1px;
    padding-top: 1px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.panel .panel-body.panel-body-image .panel-body-inform.inform-primary {
    background: #1b1e24;
}
.panel .panel-body.panel-body-image .panel-body-inform.inform-success {
    background: #95b75d;
}
.panel .panel-body.panel-body-image .panel-body-inform.inform-warning {
    background: #1caf9a;
}
.panel .panel-body.panel-body-image .panel-body-inform.inform-danger {
    background: #E04B4A;
}
.panel .panel-body.panel-body-image .panel-body-inform .fa {
    font-size: 16px;
    color: #FFF;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.panel .panel-body.list-group {
    padding: 0px;
}
.panel .panel-body.profile {
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}
.panel .panel-body.panel-body-search {
    padding: 5px;
}
.panel .panel-body.panel-body-half .panel-body {
    width: 50%;
    height: 100%;
}
.panel .panel-body.panel-body-half .panel-body:nth-child(2n) {
    padding-left: 25px;
}
.panel .panel-body.panel-body-half .panel-body.panel-body-image {
    margin-bottom: 0px;
}
.panel .panel-body.panel-body-half .panel-body.panel-body-image .panel-body-inform {
    bottom: auto;
    left: auto;
    right: -15px;
    top: 50%;
    margin-left: 0px;
    margin-top: -15px;
}
.panel .panel-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    display: block;
    float: left;
    color: #1b1e24;
}
.panel .panel-footer {
    background: #F5F5F5;
    border: 0px;
    border-top: 1px solid #E3E3E3;
    line-height: 30px;
    padding: 10px;
}
.panel-default .panel-heading,
.panel-primary .panel-heading,
.panel-success .panel-heading,
.panel-info .panel-heading,
.panel-warning .panel-heading,
.panel-danger .panel-heading {
    border-color: #E5E5E5;
    background: rgba(30, 45, 82, 0.9);
    background: -moz-linear-gradient(left, rgba(25, 29, 37, 0.9) 0%, rgba(28, 37, 62, .9) 33.333%, rgba(30, 45, 82, 0.9) 100%);
    background: -webkit-linear-gradient(left, rgba(25, 29, 37, 0.9) 0%, rgba(28, 37, 62, .9) 33.333%, rgba(30, 45, 82, 0.9) 100%);
    background: -ms-linear-gradient(left, rgba(25, 29, 37, 0.9) 0%, rgba(28, 37, 62, .9) 33.333%, rgba(30, 45, 82, 0.9) 100%);
    color: #fff;
}
.panel-fullscreen-wrap {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: #FFF;
}
.panel-fullscreen-wrap .panel {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    margin: 0px;
}
.panel-fullscreen-wrap .panel .panel-body {
    overflow-y: scroll;
}
/* PANEL GROUP / ACCORDION */
.panel-group {
    float: left;
    width: 100%;
}
.panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top: 0px;
}
.panel-title > a {
    text-decoration: none;
}
.panel-group.accordion .panel-body {
    display: none;
}
.panel-group.accordion .panel-body.panel-body-open {
    display: block;
}
/* END PANEL GROUP / ACCORDION */
/* PANEL CONTROLS */
ul.panel-controls {
    float: right;
    padding: 0px;
    margin: 0px;
    margin-top: 2px;
    list-style: none;
    position: relative;
}
ul.panel-controls .dropdown-toggle::after{display: none}
ul.panel-controls > li {
    float: left;
}
ul.panel-controls > li > a {
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 28px;
    color: #fff;
    border: 1px solid #BBB;
    -moz-border-radius: 20%;
    -webkit-border-radius: 20%;
    border-radius: 20%;
    margin-left: 3px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
ul.panel-controls > li > a.control-primary {
    color: #1b1e24;
    border-color: #1b1e24;
}
ul.panel-controls > li > a.control-success {
    color: #95b75d;
    border-color: #95b75d;
}
ul.panel-controls > li > a.control-info {
    color: #1caf9a;
    border-color: #1caf9a;
}
ul.panel-controls > li > a.control-warning {
    color: #1caf9a;
    border-color: #1caf9a;
}
ul.panel-controls > li > a.control-danger {
    color: #E04B4A;
    border-color: #E04B4A;
}
ul.panel-controls > li > a:hover {
    border-color: #999;
    color: #c6c6c7;
}
ul.panel-controls > li > a.rounded {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
ul.panel-controls.panel-controls-title {
    margin-top: 3px;
}
.panel-hidden-controls ul.panel-controls > li > a {
    opacity: 0;
    filter: alpha(opacity = 0);
}
.panel-hidden-controls:hover ul.panel-controls > li > a {
    opacity: 0.8;
    filter: alpha(opacity = 80);
}
.panel-hidden-controls:hover ul.panel-controls > li > a:hover {
    opacity: 1;
    filter: alpha(opacity = 100);
}
ul.panel-controls > li.label-control .label,
.label-form {
    display: inline-block;
    font-size: 11px;
    padding: 5px 10px;
    line-height: 12px;
    margin-top: 4px;
}
ul.panel-controls > li > .dropdown-menu {
    left: auto;
    right: 3px;
}
ul.panel-controls > li > .dropdown-menu:after,
ul.panel-controls > li > .dropdown-menu:before {
    left: auto;
    right: 11px;
}
ul.panel-controls > li > .dropdown-menu:after {
    margin-left: auto;
    margin-right: -5px;
}
ul.panel-controls > li > .dropdown-menu:before {
    margin-left: auto;
    margin-right: -6px;
}
/* EOF PANEL CONTROLS */
.panel-heading .label {
    line-height: 16px;
    padding: 4px 10px;
    margin: 3px 0px 3px 5px;
    font-size: 12px;
    display: inline-block;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.panel-heading .label.pulsate {
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: pulsate 1s ease-out;
    -moz-animation-iteration-count: infinite;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
}
/* PANEL BODY PRICING */
.panel.panel-primary .panel-body-pricing small {
    color: #1b1e24;
}
.panel.panel-success .panel-body-pricing small {
    color: #95b75d;
}
.panel.panel-info .panel-body-pricing small {
    color: #1caf9a;
}
.panel.panel-warning .panel-body-pricing small {
    color: #1caf9a;
}
.panel.panel-danger .panel-body-pricing small {
    color: #E04B4A;
}
.panel-body.panel-body-pricing h2 {
    font-size: 26px;
    font-weight: 400;
}
.panel-body.panel-body-pricing h2 small {
    text-transform: uppercase;
}
.panel-body.panel-body-pricing p {
    font-size: 13px;
    color: #666;
    margin-bottom: 15px;
}
.panel-body.panel-body-pricing p.text-muted {
    color: #AAA;
    font-size: 11px;
}
.panel-body.panel-body-pricing .fa {
    color: #EEE;
}
/* PANEL BODY PRICING */
/* PANEL REFRESHING */
.panel-refresh-layer {
    position: absolute;
    left: 0px;
    top: 0px;
    background: #FFF;
    opacity: 0.5;
    filter: alpha(opacity = 50);
    z-index: 3;
    font-size: 21px;
}
.panel-refresh-layer img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -16px;
    margin-top: -16px;
}
/* EOF PANEL REFRESHING */
.panel-toggled .panel-body,
.panel-toggled .panel-footer {
    display: none;
}